#logo{
    width: 100%;
}

#contenedor{
    border: solid 2px;
    width: auto;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    margin: 8% 35%;  
    padding-bottom: 5%;  
}

body{
    background-color: rgb(226, 43, 226);
    text-align: center;
    font-size: 20px;
}

.entrada{
    width: 70%;
    border-radius: 15px;
}
#seleccionImg{
    border-radius: 15px;
    width: 60%;
}

#durazno{
    display: none;
    width: 10%;
    margin: 10% 45%;
}

#kiwi{
    display: none;
    width: 10%;
    margin: 10% 45%;
}
#maracuya{
    display: none;
    width: 10%;
    margin: 10% 45%;
}

#sandia{
    display: none;
    width: 10%;
    margin: 10% 45%;
}